<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет студента</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            Student Cabinet
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        Главная
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Профиль
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Расписание
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Предметы
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Зачетка
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Новости
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">

    <div class="p-5 bg-light rounded">

        <h1 class="mb-3">
            Личный кабинет студента
        </h1>

        <p class="lead">
            Добро пожаловать в систему управления обучением.
        </p>

        <hr>

        <p>
            Здесь студент сможет:
        </p>

        <ul>
            <li>Смотреть расписание</li>
            <li>Проверять предметы</li>
            <li>Просматривать оценки</li>
            <li>Читать новости университета</li>
            <li>Работать с электронной зачетной книжкой</li>
        </ul>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>